# 2.4 Analysing your results!

### Select 2-3 variables you think are relevant to identify the cluster of the customer

In [2]:
import pandas as pd
import numpy as np

In [3]:
features = pd.read_csv("features.csv")
features=features.drop(['Unnamed: 0'], axis=1)

In [27]:
features.head(5)

,CustomerID,n_transactions,n_transactions_100,average_amount,average_balance,utilisation,common_gender,frequent_location,min_trans,max_trans,...,earliest_TransactionTime,latest_TransactionTime,first_half_transactions,second_half_transactions,first_months_transactions,last_months_transactions,median_amount,first_quartile_amount,third_quartile_amount,clus_ind
0,C1010011,2,2,2553.0,76340.635,73787.635,['F' 'M'],['NEW DELHI' 'NOIDA'],356.0,4750.0,...,01:12:29,12:38:13,1,1,0,2,2553.0,1454.50,3651.50,1
1,C1010012,1,1,1499.0,24204.490,22705.490,M,MUMBAI,1499.0,1499.0,...,20:44:09,20:44:09,0,1,0,1,1499.0,1499.00,1499.00,3
2,C1010014,2,2,727.5,100112.950,99385.450,['F' 'M'],MUMBAI,250.0,1205.0,...,15:44:51,22:03:05,0,2,1,1,727.5,488.75,966.25,0
3,C1010018,1,0,30.0,496.180,466.180,F,CHAMPARAN,30.0,30.0,...,17:02:54,17:02:54,0,1,0,1,30.0,30.00,30.00,2
4,C1010024,1,1,5000.0,87058.650,82058.650,M,KOLKATA,5000.0,5000.0,...,14:11:03,14:11:03,0,1,0,1,5000.0,5000.00,5000.00,3

The 3 variables we think are relevant to identify the cluster of the customers are 'common_gender', 'utilisation', 'average_amount' and 'n_transactions'. We define an empty dataframe and we work starting from it.

In [42]:
df =  pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

In [54]:
df['cluster']=features['clus_ind']
df["Gender"] = features["common_gender"].values
df["utilisation"] = features["utilisation"].values               
df["Average_transaction_amount"] = features["average_amount"].values
df["n_transactions"] = features["n_transactions"].values

In [55]:
df["utilisation"]

0          73787.635
1          22705.490
2          99385.450
3            466.180
4          82058.650
             ...
884260    132376.230
884261     95841.460
884262      5433.750
884263     35245.920
884264      6113.930
Name: utilisation, Length: 884265, dtype: float64

### Most of your selected variables will be numerical (continuous or discrete), then categorise them into four categories.

We divide 'utilisation' in 4 classes:

In [56]:
df.utilisation[df.utilisation < 4000] = 1
df.utilisation[(df.utilisation >= 4000) & (df.utilisation < 20000)] = 2
df.utilisation[(df.utilisation >= 20000) & (df.utilisation < 50000 )] = 3
df.utilisation[df.utilisation >= 50000] = 4

C:\Users\feder\AppData\Local\Temp\ipykernel_19740\3616360209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.utilisation[df.utilisation < 4000] = 1
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\3616360209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.utilisation[(df.utilisation >= 4000) & (df.utilisation < 20000)] = 2
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\3616360209.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.utilisation[(df.utilisation >= 20000) & (df.utilisation < 50000 )] = 3
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\3616360209.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.utilisation[df.utilisation >= 50000] = 4

Then, we divide 'Average_transaction_amount' in 4 categories:

In [57]:
df.Average_transaction_amount[df.Average_transaction_amount < 200] = 1
df.Average_transaction_amount[(df.Average_transaction_amount >= 200) & (df.Average_transaction_amount < 500)] = 2
df.Average_transaction_amount[(df.Average_transaction_amount >= 500) & (df.Average_transaction_amount < 1000 )] = 3
df.Average_transaction_amount[df.Average_transaction_amount >= 1000] = 4

C:\Users\feder\AppData\Local\Temp\ipykernel_19740\405205566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Average_transaction_amount[df.Average_transaction_amount < 200] = 1
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\405205566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Average_transaction_amount[(df.Average_transaction_amount >= 200) & (df.Average_transaction_amount < 500)] = 2
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\405205566.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Average_transaction_amount[(df.Average_transaction_amount >= 500) & (df.Average_transaction_amount < 1000 )] = 3
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\405205566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Average_transaction_amount[df.Average_transaction_amount >= 1000] = 4

And, in the end we create 4 categories for the variable 'n_transactions':

In [64]:
df.n_transactions[df.n_transactions <= 1] = 1
df.n_transactions[(df.n_transactions == 1) & (df.n_transactions == 2)] = 2
df.n_transactions[(df.n_transactions == 3) & (df.n_transactions == 4 )] = 3
df.n_transactions[df.n_transactions >= 4] = 4

C:\Users\feder\AppData\Local\Temp\ipykernel_19740\1663845779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_transactions[df.n_transactions <= 1] = 1
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\1663845779.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_transactions[(df.n_transactions == 1) & (df.n_transactions == 2)] = 2
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\1663845779.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_transactions[(df.n_transactions == 3) & (df.n_transactions == 4 )] = 3
C:\Users\feder\AppData\Local\Temp\ipykernel_19740\1663845779.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_transactions[df.n_transactions >= 4] = 4

In [66]:
df.head(5)

   cluster     Gender  utilisation  Average_transaction_amount  n_transactions
0        1  ['F' 'M']          4.0                         4.0               2
1        3          M          3.0                         4.0               1
2        0  ['F' 'M']          4.0                         3.0               2
3        2          F          1.0                         1.0               1
4        3          M          4.0                         4.0               1

### With the selected variables, perform pivot tables. On the horizontal axis, you will have the clusters, and on the vertical axis, you will have the categories of each variable. Notice that you have to do one pivot table per variable. Calculate the percentage by column for each pivot table. The sum of each row (cluster) must be 100.

We first define an empty pivot table dataframe:

In [68]:
p_t=pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Then, we start filling it with the percentage by column for each pivot table:

In [72]:
p_t["F"] = round(df.groupby("cluster")["Gender"].apply(lambda x : (x =="F").sum()/((x == "F").sum()+(x == "M").sum())*100), 2)
p_t["M"] = round(df.groupby("cluster")["Gender"].apply(lambda x : (x =="M").sum()/((x == "F").sum()+(x == "M").sum())*100), 2)

In [73]:
p_t[["M","F"]]

             M      F
cluster
0        73.41  26.59
1        87.04  12.96
2        76.03  23.97
3        71.73  28.27

As can be seen from the pivot table, the second cluster stands out from the others in terms of the percentage of male components, presenting a higher percentage. The other clusters, on the other hand, have a rather homogeneous percentage.

In [76]:
p_t["Low_utilisation"] = round(df.groupby("cluster")["utilisation"].apply(lambda x: (x == 1).sum()/x.count()*100), 2)
p_t["Middle_low_utilisation"] = round(df.groupby("cluster")["utilisation"].apply(lambda x: (x == 2).sum()/x.count() * 100 ), 2)
p_t["Middle_high_utilisation"] = round(df.groupby("cluster")["utilisation"].apply(lambda x: (x == 3).sum()/x.count()*100), 2)
p_t["High_utilisation"] = round(df.groupby("cluster")["utilisation"].apply(lambda x:(x == 4).sum()/x.count()*100), 2)

In [77]:
p_t[["Low_utilisation","Middle_low_utilisation","Middle_high_utilisation","High_utilisation"]]

,Low_utilisation,Middle_low_utilisation,Middle_high_utilisation,High_utilisation
cluster,,,,
0,6.67,33.82,24.12,35.38
1,15.35,36.64,21.23,26.77
2,62.95,34.85,2.20,0.00
3,0.04,22.35,29.38,48.23

Looking instead at the utilization pivot table, the clusters turn out to be better defined and heterogeneous: while the third cluster encompasses the elements of the lower-middle range of utilization, more than 70% of the members of the fourth cluster have a medium-high level of utilization. The first two clusters, on the other hand, are the average clusters most characterized by customers with an average level of utilization.

In [78]:
p_t["Low_transaction_amount"] = round(df.groupby("cluster")["Average_transaction_amount"].apply(lambda x: (x == 1).sum()/x.count()*100), 2)
p_t["Middle_low_transaction_amount"] = round(df.groupby("cluster")["Average_transaction_amount"].apply(lambda x: (x == 2).sum()/x.count() * 100 ), 2)
p_t["Middle_high_transaction_amount"] = round(df.groupby("cluster")["Average_transaction_amount"].apply(lambda x: (x == 3).sum()/x.count()*100), 2)
p_t["High_transaction_amount"] = round(df.groupby("cluster")["Average_transaction_amount"].apply(lambda x:(x == 4).sum()/x.count()*100), 2)

In [79]:
p_t[["Low_transaction_amount","Middle_low_transaction_amount","Middle_high_transaction_amount","High_transaction_amount"]]

,Low_transaction_amount,Middle_low_transaction_amount,Middle_high_transaction_amount,High_transaction_amount
cluster,,,,
0,27.48,24.50,18.13,29.89
1,12.82,24.58,23.56,39.04
2,32.67,22.03,15.33,29.97
3,22.93,24.83,20.74,31.49

Looking at the transaction amount pivot table, it is interesting to note that the second cluster, the one with a higher percentage of male users, also turns out to have the highest average transactions.

In [80]:
p_t["Low_n_transactions"] = round(df.groupby("cluster")["n_transactions"].apply(lambda x: (x == 1).sum()/x.count()*100), 2)
p_t["Middle_low_n_transactions"] = round(df.groupby("cluster")["n_transactions"].apply(lambda x: (x == 2).sum()/x.count() * 100 ), 2)
p_t["Middle_high_n_transactions"] = round(df.groupby("cluster")["n_transactions"].apply(lambda x: (x == 3).sum()/x.count()*100), 2)
p_t["High_n_transactions"] = round(df.groupby("cluster")["n_transactions"].apply(lambda x:(x == 4).sum()/x.count()*100), 2)

In [81]:
p_t[["Low_n_transactions","Middle_low_n_transactions","Middle_high_n_transactions","High_n_transactions"]]

,Low_n_transactions,Middle_low_n_transactions,Middle_high_n_transactions,High_n_transactions
cluster,,,,
0,85.53,14.35,0.12,0.00
1,0.00,79.85,18.11,2.04
2,98.44,1.56,0.00,0.00
3,93.31,6.69,0.00,0.00

A similar argument to the previous pivot table can be made by observing that of the number of transactions: the second cluster, in addition to being the one with a higher percentage of male components and a higher percentage of transaction amount, also turns out to be the cluster with the largest number of transactions executed as a percentage.